
#wrencv_cantainer{
    margin: 10px;
    border: 2px solid rgb(106, 170, 177);
    border-radius: 2px;

}
.wrencv_contenedor_encabezado{
    background-color:rgb(106, 170, 177) !important;
    margin: 0;
    border: 1px solid transparent;
}

.wrencv_contenedor_formulario{
    background-color: white;
    padding: 15px !important;
}

#wrencv_formulario{
   
text-align: center;
}

#wrencv_titulo_encuesta{
    text-align: center;
    color: rgb(255, 255, 255);
}
#titulo_encuesta{

    width: 100%;
}

#wrencv-titulo{
       
    padding: 3px;
    font-weight: bold;
    color:rgb(59, 59, 59);
    font-size: 15px;

}
.wrenc_question{
    width: 100% !important;
    border: 1px solid rgb(48, 144, 168) !important;
    margin: 3px !important;
    background-color: rgb(235, 242, 243) !important;
}

#wrencv_save_encuesta{
  
    background-color: rgb(10, 145, 235);
    color: rgb(255, 255, 255);
    border-radius: 0.5em;
    width: 100px;
    height: 30px;
   
    border: 1px solid rgb(221, 221, 221);

}
#wrencv_save_encuesta:hover{
    
    background-color: rgb(13, 122, 196);
  

}

#wrencv_question{
    background-color: rgb(15, 135, 204);
    width: 100px;
    height: 30px;
    border-radius: 0.5em;
    border: 1px solid rgb(221, 221, 221);
    color: white;
}

#wrencv_question:hover{
    background-color: rgb(11, 104, 158);
   
}

#wrencv_add_questions{
    font-size: 20px;
    color: white;
    width: 50px;
    height: 30px;
    background-color: rgb(141, 173, 159);
    border-radius: 0.5em;
    border: 1px solid rgb(221, 221, 221);
}
#wrencv_dis_item{
    font-size: 20px;
    color: white;
    width: 50px;
    height: 30px;
    background-color: rgb(231, 114, 114);
    border-radius: 0.5em;
    border: 1px solid rgb(221, 221, 221);
}

#wrencv_add_questions:hover{
  background-color: rgb(90, 128, 111);
}

#wrencv_dis_item:hover{
    background-color: rgb(179, 89, 89);
}


/*tabla*/
#wrencv_table{
    background-color: rgb(238, 238, 238);
    width: 100%;
    text-align: center;


}

#wrencv_tale_head{
background-color: rgb(255, 216, 164);
color: black;

}


.wrencv_btn_combinar{
    background-color: rgb(71, 219, 187) !important;
    border-radius: 10% !important;
    border: 1px solid rgb(238, 238, 238);
    padding: 3%;
}

.wrencv_btn_delete{
    background-color: rgb(221, 107, 107) !important;
    border-radius: 10% !important;
    border: 1px solid rgb(238, 238, 238);
    padding: 3%;
}

#wrencv_row_opciones{
    background-color: cadetblue;
    
   


}