<div id="wrencv_cantainer">
    <div class="wrencv_contenedor_encabezado">
        <h1 id="wrencv_titulo_encuesta">Combinar encuesta</h1>
    </div>
    <div class="wrencv_contenedor_formulario">
        <form action="<?php echo esc_url(admin_url('admin-post.php')); ?>" method="POST">
            <input type='hidden' name='action' value='wrencv-seleccionar-opcion-combinacion'>
            <input type='hidden' name='crud' id="crud" value='add'>
            <?php
            if (isset($_GET['id'])) {
            ?>
                <table>
                    <thead>
                        <tr>
                            <th style="width:5%;" class="text-center">#</th>
                            <th style="width: 70%;" class="text-center">Combinacion</th>
                            <th style="width: 20%;" class="text-center">Respuesta</th>
                            <th style="width: 10%;" class="text-center">Opciones</th>
                        </tr>
                    </thead>
                    <?php

                    $id_encuesta = $_GET['id'];
                    $operaciones_combinar = new WRENCV_Operaciones_encuesta();
                    $load_combinaciones = $operaciones_combinar->wrencv_cambiar_question_description($id_encuesta);

                    foreach ($load_combinaciones as $key => $value) {
                    ?>
                        <input type="hidden" name="id_encuesta[]" id="id_encuesta[]" value="<?= $id_encuesta ?>">
                        <tr style="color:black;font-size:14px;">
                            <td style="width: 5%;"><?= $key + 1 ?></td>
                            <td style="width: 70%;text-align:center"> <input type="hidden" name="combinacion[]" id="combinacion[]" value="<?= $value['descripcion']; ?>"> <?= $value['descripcion']; ?></td>
                            <td style="width: 20%;"> <input type="text" id="res_combinacion[]" name="res_combinacion[]"> </td>
                            <td style="width: 10%;"><button>Delete</button></td>
                        </tr>
                <?php
                    }
                }
                ?>
                </table>
                <center> <button><?php _e('Guardar'); ?></button></center>
        </form>
    </div>
</div>