<div id="wrencv_cantainer">
    <div class="wrencv_contenedor_encabezado">
        <h1 id="wrencv_titulo_encuesta">Crear Encuesta</h1>
    </div>


    <div class="wrencv_contenedor_formulario">

        <form id="wrencv_formulario" action="<?php echo esc_url(admin_url('admin-post.php')); ?>" method="POST" onchange="return wrencv_validacion()">
            <input type='hidden' name='action' value='wrencv-seleccionar-opcion'>
            <input type='hidden' name='crud' id="crud" value='add'>
            <label id="wrencv-titulo" for="">Titulo de la encuesta</label>
            <input type="text" name="titulo_encuesta" id="titulo_encuesta">

            <h2>Ingresar preguntas</h2>
            <button id="wrencv_question" type="button" onclick="wrencv_add_question();" name="registrar" class="btn btn-success btn-block"><i class="fas fa-plus-square"></i>+</button>

            <table id="tabla">

            </table>
            <br>
            <button id="wrencv_save_encuesta">Save</button>

        </form>

    </div>



</div>