<div id="wrencv_cantainer">
    <div class="wrencv_contenedor_encabezado">
        <h1 id="wrencv_titulo_encuesta">Combinar encuesta</h1>
    </div>

    <div class="wrencv_contenedor_formulario">
        <table id="wrencv_table">
            <thead id="wrencv_tale_head">
                <tr>
                    <th style="width:5%;" class="text-center">#</th>
                    <th style="width:75%;" class="text-center">Nombre de la encuesta</th>
                    <th style="width:30%;" class="text-center">Opciones</th>
                </tr>
            </thead>
            <?php
            $wrencv_load_encuesta = new WRENCV_Operaciones_encuesta();
            $lista_encuestas = $wrencv_load_encuesta->wrencv_load_encuestas();
            foreach ($lista_encuestas as $key => $value) {  ?>
                <tr style="color:black;font-size:14px;">
                    <td style="width:5%;"> <?= $value->id;  ?> </td>
                    <td style="width:75%;"><?= $value->titulo ?></td>
                    <td id="wrencv_row_opciones" class="text-center" style="width:30%;">
                        <div class="row">
                            <form method="GET" action='<?php echo esc_url(admin_url('admin-post.php')); ?>'>
                                <input type='hidden' name='action' value='wrencv-seleccionar-opcion'>
                                <input type='hidden' name='crud' id="crud" value='combinar'>
                                <button class="wrencv_btn_combinar" id="id_encuesta" name="id_encuesta" style="font-size:1em;" value="<?= $value->id; ?>"><i class="far fa-edit"></i>Combinar</button>
<h1>hola mundo</h1>
                            </form>
                            <form method="POST" action="#">
                                <input type='hidden' name='action' value='wrpoc-post-cliente'>
                                <input type='hidden' name='crud' id="crud" value='remove'>
                                <button class="wrencv_btn_delete" style="font-size:1em;" name="id_encuesta" value="<?= $value->id; ?>" onclick="return validarDelete();"><i class="fas fa-trash-alt"></i>Eliminar</button>
                            </form>
                        </div>
                    </td>
                </tr>
            <?php }
            ?>
        </table>
        <?php
        if (isset($_POST['id_encuesta'])) { ?>
            <table>
                <thead>
                    <tr>
                        <th style="width:5%;" class="text-center">#</th>
                        <th style="width: 80%;" class="text-center">Combinacion</th>
                        <th style="width: 10%;" class="text-center">Respuesta</th>

                        <th style="width: 5%;" class="text-center">Opciones</th>
                    </tr>
                </thead>
                <?php $id_encuesta = $_POST['id_encuesta'];
                $cont = 0;
                $combinacion = "combinacion";
                $operaciones_combinar = new  WRENCV_Operaciones_encuesta();

                $load_combinaciones = $operaciones_combinar->wrencv_cambiar_question_description($id_encuesta);
                $operaciones_combinar->wrencv_numeracion_codigos();

                //  wrencv_cambiar_question_description($id_encuesta)
                $concatenar = "";

                // echo  $operaciones_combinar->wrencv_contar_items();

                foreach ($load_combinaciones as $key => $value) {
                    $cont = $cont + 1;
                    $concatenar = $concatenar . "-" . $value['combinacion' . $cont];

                ?>
                    <tr style="color:black;font-size:14px;">
                        <td style="width: 5%;"><?= $key + 1 ?></td>
                        <td style="width: 80%;text-align:center"> <?= $value['descripcion'];  ?> </td>
                        <td style="width: 80%;"> <?= $value['combinacion'];  ?> </td>
                        <td style="width: 10%;"> <input type="text"> </td>
                        <td style="width: 10%;"> -</td>
                    </tr>
            <?php
                }
                //  printf($concatenar); 
                //  printf($operaciones_combinar->wrenc_cantidad_combinaciones(4, 2));
            }
            ?>
            </table>
    </div>
    <?php


    /*
    $registrar_items_combinaciones = array();
    $elementos = array('1', '2', '3', '4', '5','6','7','8','9','a','b','c');
    $elementos_invert = array_flip($elementos);
    $cuantos = count($elementos);
    $corridas = array();
    $resultados = $elementos;

    // Por cada elemento, hay una vuelta, un nCr
    for ($i = 1; $i <= $cuantos; $i++) {

        // La primera corrida son los elementos a secas
        if (!isset($corridas[$i - 1])) {
            $corridas[$i] = $elementos;
            continue;
        }
        $elementos_new = $elementos;

        // Las letras sobrantes
        $letras_slice = array_slice($elementos_new, ($i - 1));
        $letras_rebuilt = implode("", $letras_slice);

        // Cada elemento de la vuelta anterior es una vuelta en esta
        foreach ($corridas[$i - 1] as $j => $itera) {
            $subletras = str_split($itera);
            $subletras_c = count($subletras) - 1;

            // Cada letra de las letras sobrantes es otra vuelta
            foreach ($letras_slice as $itera2) {
                $letra_fin = $elementos_invert[$subletras[$subletras_c]];
                $letra_coteja = $elementos_invert[$itera2];

                if (
                    !in_array($itera2, $subletras) && ($letra_fin < $letra_coteja)
                ) {
                    $corridas[$i][] = $itera . $itera2;
                    //  echo $itera . $itera2 . "------";
                    if (wrencv_validar_($itera . $itera2) == 3) {
                        $resultados[] = $itera . $itera2;

                        $row_array['combinacion'] = $itera . $itera2;
                        array_push($registrar_items_combinaciones, $row_array);
                   }
                }
            }
        }
    }
    //  echo $resultados;
    foreach ($registrar_items_combinaciones as $key => $value) {

       echo $value['combinacion']; 
       echo '<br>';
    }


   // print_r($resultados);

    function wrencv_validar_($valor) //
    {
        $cont = 0;
        for ($u = 0; $u < strlen($valor); $u++) {
            $cont++;
        }
        return $cont;
    }*/

    ?>
</div>
